body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    text-align: center;
}

.clock {
    font-size: 48px;
    margin: 20px 0;
}

.toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}


.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.light-mode .toggle-button {
    background-color: #000000;
    color: #ffffff;
}


.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode .toggle-button {
    background-color: #ffffff;
    color: #000000;
}